package commands

import (
	"context"
)

// {{.Name}}Handler encapsulates the business logic for the {{.Name}} use case.
type {{.Name}}Handler struct {
	// TODO: Add outbound ports here.
}

// New{{.Name}}Handler creates a new {{.Name}}Handler.
func New{{.Name}}Handler() *{{.Name}}Handler {
	return &{{.Name}}Handler{}
}

// Handle executes the business logic.
func (h *{{.Name}}Handler) Handle(ctx context.Context) error {
	// TODO: Implement business logic.
	return nil
}
